h1{
    font-size: 50px;
    color: rgb(69, 6, 100) ;
    text-align: center;
    transition: 1s;
}
body{
    font-family: "Caveat", cursive;
    background-image: linear-gradient(rgb(255, 0, 0),rgb(24, 54, 153),rgb(161, 50, 165));
}
p{
    font-size: 30px;
    color:rgb(13, 46, 107);
}
div{
    text-align: center;
}
a{
    text-decoration: none;
    border: 8px double rgb(60, 12, 92);
    border-radius: 20px;
    font-size: 40px;
    color: lightgreen;
}
nav,a{
    text-align: center;
}
img{
    width: 270px;
    height: 400px;
}