h1{
    font-size: 79px;
    color: rgb(69, 6, 100) ;
    text-align: center;
    transition: 1s;
}
img{
    width: 600px;
    height: 350px;
    transition: 0.5s;
}
.img{
    text-align: center;
}
body{
    font-family: "Caveat", cursive;
    background-image: linear-gradient(rgb(255, 0, 0),rgb(24, 54, 153),rgb(161, 50, 165));
}
.nav{
    text-align: center;
}
a{
    border: 8px double rgb(54, 186, 190);
    border-radius: 10px;
    text-decoration: none;
    font-size: 60px;
    transition: 1s;
}
img:hover{
    transform: rotate(5deg);
}
h1:hover{
    color: darkblue;
}
a:hover{
    border-color: rgb(10, 92, 112);
}